<div class="container">
    <h2>Crear canción</h2>
    <div>
        <label>
            Título
        </label>
        <br>
        <input type="text">
    </div>

    <div>
        <label>
            Duración
        </label>
        <br>
        <input type="text">
    </div>

    <div>
        <label>
            Genero
        </label>
        <br>
        <input type="text">
    </div>

    <div>
        <label>
            Artista
        </label>
        <br>
        <input type="text">
    </div>

    <button type="button" >Crear canción</button>
</div>